/* Style sheet for the handson event */

#Plane{stroke:black; fill:#E0EBE2}

/* Plane of the first scene */
#MiddleLine,#LittleLines {fill:none}
#Motor2,#Motor4 {fill: #3D2000}
#Motor3 {stroke: black; stroke-width:3}
#LandingGear {fill:#363435; stroke:black}

/* Landscape of the first scene */
#Road {fill:#01142B; stroke:black}
#Marking {fill:white; stroke:black}

/* WalkBridge of the frist scene */
#WalkBridge {fill:#BFB5A4; stroke:#BFB5A4; stroke-width:3}
#Glass {fill:#E3EBE2; fill-opacity:0.6}
#BetweenPlaneAndBridge {fill:#BFB5A4; stroke:black; stroke-width:1}

/* Characters of the first scene */
#Guy1 {fill:#A89E3F}
#Guy2 {fill:#6E2FA8}
#Guy3 {fill:#136B21}
#Guy4 {fill:#542A00}

/* Plane of the second scene */
#PilotWindow {fill:grey}
#PassengerWindow {fill:black}
#Motor5 {fill: #3D2000}
#Motor6 {stroke: black; stroke-width:2}


#Island {fill:yellow; stroke:none}

#Window {fill:none; stroke:white; stroke-width:3}



/* Drawing grid */
rect.background {fill:#eeeeff;stroke:none}
.outline {stroke:black; fill:none; stroke-width:3}
.thin {stroke:black; fill:none; stroke-width:1}
.filled {stroke:none; fill:lemonchiffon}
.both {stroke:black; stroke-width:3; fill:lemonchiffon}

text.boat      {font-family:Arial;font-size:10; font-weight:bold; fill:#0C469C; font-style:italic}
